- var pageClass = 'index-page'
doctype html
html.page(lang='ru')
  | @@include("html/_head.htm", { "title": "Cat Energy. Главная" })
  body.page__body

    include modules/header

    main.page-main(class= pageClass)
      section.main-intro
        .main-intro__wrapper.main-intro--bg
          .main-intro__picture
          h1.main-intro__title
            | Функциональное
            br
            |             питание для котов
          p.main-intro__text Занялся собой? Займись котом!
          .main-intro__picture-chiken-pro
          a.button.button--intro(href='')
            span Подобрать программу

      section.catalog-selection
        .catalog-selection__wrapper
          h2.visually-hidden Выбор программы
          .catalog.catalog-slim
            h3.catalog__title.catalog__title--slim Похудение
            p.catalog__text
              | Ваш кот весит больше собаки и почти утратил способность лазить по
              | деревьям? Пора на диету! Cat Energy Slim поможет вашему питомцу
              | сбросить лишний вес.
            a.catalog__link(href='catalog.html')
              | Каталог slim
              svg(width='24' height='12' viewBox='0 0 24 12')
                use(xlink:href='img/sprite.svg#arrow__right')
          .catalog.catalog-pro
            h3.catalog__title.catalog__title--pro Набор массы
            p.catalog__text
              | Заработать авторитет среди дворовых котов
              br
              |               и даже собак? Серия Cat Energy Pro поможет вашему коту нарастить
              |               необходимые
              br
              |               мышцы!
            a.catalog__link(href='catalog.html')
              | Каталог pro
              svg(width='24' height='12' viewBox='0 0 24 12')
                use(xlink:href='img/sprite.svg#arrow__right')
      section.how-it-works
        h2.how-it-works__title Как это работает
        .how-it-works__wrapper
          ol.how-it-works__list
            li.how-it-works__item.how-it-works__item--useful
              p.how-it-works__item-description
                | Функциональное питание содержит только полезные питательные
                | вещества.
            li.how-it-works__item.how-it-works__item--form
              p.how-it-works__item-description
                | Выпускается в виде порошка, который нужно лишь залить кипятком и
                | готово.
            li.how-it-works__item.how-it-works__item--change
              p.how-it-works__item-description
                | Замените один-два приема обычной еды на наше функциональное
                | питание.
            li.how-it-works__item.how-it-works__item--result
              p.how-it-works__item-description
                | Уже через месяц наслаждайтесь изменениями к лучшему вашего
                | питомца!
      section.before-after
        .before-after__wrapper
          .before-after__text-box
            h2.before-after__title Живой пример
            p.before-after__text
              | Борис сбросил 5 кг за 2 месяца, просто заменив свой обычный корм
              | на Cat Energy Slim. Отличный результат без изнуряющих тренировок!
              | При этом он не менял своих привычек и
              span по-прежнему
              |  спит по 16 часов в день.
            .before-after__stat-wrapper
              .fieldset__wrapper
                fieldset.before-after__result-box
                  legend.before-after__result-text
                    | Снижение
                    br
                    |                     веса
                  p.before-after__result-title 5 кг
                fieldset.before-after__result-box
                  legend.before-after__result-text
                    | Затрачено
                    br
                    |                     времени
                  p.before-after__result-title 60 дней
              p.before-after__cost
                | Затраты на питание:
                span 15000 руб.

          .before-after__example
            .before-after__image-box
              div.before-after__after.before-after__item
              div.before-after__before.before-after__item

            .range-controls__wrapper
              p.afterMax стало
              .range-controls
              p.beforeMin было

  | @@include("html/_footer.htm")
  script(src="js/main-nav--toggle.min.js")
  script(src="https://unpkg.com/nouislider@14.6.3/distribute/nouislider.min.js")
  script(src="js/slider_b-a.min.js")
