@media (min-width: $desktop-width) {

  .add-products__wrapper {
    width: 896px;

    @media (min-width: $desktop-width) {
      width: 904px;
    }
  }

  .gift {
    position: relative;
    top: -300px;
    left: 1000px;
    margin-bottom: -100px;
    width: 245px;
    height: 289px;

    @media (min-width: $desktop-width) {
        // top: -300px;
        left: 987px;
      }
    }
  }

.add-products {
  min-width: 280px;

  @media (max-width: $mobile-width-only) {
    margin-bottom: 44px;
  }

}

.add-products__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  background-image: linear-gradient(to bottom, transparent 0, transparent 16px, #68b738 16px, #68b738 18px, transparent 18px, transparent 100%);

  @media (min-width: $tablet-width) {
    margin-left: 45px;
    margin-bottom: 85px;
    font-size: 36px;
    line-height: 36px;
  }
  @media (min-width: $desktop-width) {
    margin-left: 10px;
  }
}

.add-products__title > span {
  display: inline-block;
  padding-right: 22px;
  background-color: $background;
}

.add-products__list {
  padding: 0;
  list-style: none;

  @media (max-width: $mobile-width-only) {
    margin-top: 32px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
    padding-inline: 50px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding-inline: 10px 0;
  }
}

.add-products__item {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 41px;
  }
}

.add__feature {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 285px;
    justify-content: space-between;;
  }
}

.add {
  padding-bottom: 14px;
  border-bottom: 1px solid $special_grey;

  @media (min-width: $tablet-width) {
    gap: 15px;
    align-items: center;
    margin-bottom: 13px;
  }
  @media (min-width: $desktop-width) {
    padding-top: 9px;
  }
}

.add__title {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0px;
    flex-grow: 1;
  }
}

.add__feature {
  font-family: 'Arial';
  font-size: 14px;
  line-height: 14px;

  @media (max-width: $mobile-width-only) {
    margin-bottom: 15px;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.add-product__feature-text {
  margin-left: 55px;
}

.gift__wrapper {
  display: flex;
  flex-direction: column;
  min-width: 280px;
  height: 289px;
  background-image: linear-gradient($opacity_green, $opacity_green),
  url(../img/bg/cat-bag.jpg);
  background-size: 280px 289px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    height: 200px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-inline: 10px;
    margin-bottom: 90px;
  }

  @media (min-width: $desktop-width) {
    min-width: 242px;
  }

}

.gift__img {
  padding-top: 58px;
  padding-bottom: 30px;
  text-align: center;
}

.gift__text {
  text-align: center;
  font-family: 'Arial';
  font-size: 16px;
  line-height: 20px;
  color: $basic_white
}
