@media (min-width: $desktop-width) {

  .add-products__wrapper {
    width: 896px;
  }

  .gift {
    position: relative;
    top: -300px;
    left: 1000px;
    margin-bottom: -100px;
    width: 245px;
    height: 289px;
  }
}

.add-products {
  min-width: 320px;
}

.add-products__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  background-image: linear-gradient(to bottom, transparent 0, transparent 16px, #68b738 16px, #68b738 18px, transparent 18px, transparent 100%);
}

.add-products__title > span {
  display: inline-block;
  padding-right: 22px;
  background-color: $background;
}

.add-products__list {
  padding: 0;
  list-style: none;
}

.add-products__item {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 41px;
  }
}

.add__feature {
  display: flex;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    // width: 285px;
    flex-basis: 285px;
    justify-content: space-between;;
  }
}

.add {
  padding-bottom: 19px;
  border-bottom: 1px solid $special_grey;
}

.add__title {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;

  @media (min-width: $desktop-width) {
    flex-grow: 1;
  }
}

.add__feature {
  font-family: 'Arial';
  font-size: 14px;
  line-height: 14px;
}

.gift__wrapper {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  height: 289px;
  background-image: linear-gradient($opacity_green, $opacity_green),
  url(../img/bg/cat-bag.jpg);
  background-size: 280px 289px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

}

.gift__img {
  padding: 48px 0;
  text-align: center;
}

.gift__text {
  text-align: center;
  font-family: 'Arial';
  font-size: 16px;
  line-height: 20px;
  color: $basic_white
}
