.before-after {
  min-width: 320px;
  margin-inline: -20px;
  background-color: $basic_grey-3;

  @media (min-width: $desktop-width) {
    margin-inline: 0;
    margin-bottom: 150px;
  }
}

.before-after__wrapper {
  padding-inline: 20px;

  @media (min-width: $tablet-width) {
    width: 100%;
    background-color: $background;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    max-height: 600px;
  }
}

.before-after__text-box {
  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    margin-right: 134px;
  }
}

.before-after__title {
  margin-top: 0;
  margin-bottom: 33px;
  padding-top: 27px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
    padding: 10px;
    padding-top: 0;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
  }

  @media (min-width: $desktop-width) {
    margin-top: 42px;
    margin-bottom: 135px;
  }
}

.before-after__text {
  margin-bottom: 26px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    margin-left: 11px;
    margin-bottom: 52px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    min-width: 436px;
    margin-bottom: 67px;
  }
}

.before-after__text span {
  white-space: nowrap;
}

.fieldset__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    display: inline-flex;
    gap: 37px;
    padding-left: 11px;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .before-after__stat-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
  }
}

.before-after__result-box {
  width: 124px;
  height: 67px;
  border: 1px solid $special_grey;
  border-radius: 3px;
  transform: rotate(180deg);
  padding-block: 5px;

  @media (min-width: $tablet-width) {
    width: 162px;
  }
}

.before-after__result-title {
  margin: 0;
  text-align: center;
  transform: rotate(180deg);
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
}

.before-after__result-text {
  padding-inline: 15px;
  text-transform: lowercase;
  transform: rotate(180deg);
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;

  @media (min-width: $tablet-width) {
    margin-bottom: 6px;
  }
}

@media (min-width: $tablet-width) {
  .before-after__result-text br {
    display: none;
    padding-inline: 0;
    font-size: 14px;
    line-height: 14px;
  }
}

.before-after__cost {
  margin-bottom: 42px;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    max-width: 174px;
    margin-top: 10px;
    margin-left: 20px;
    text-align: right;
    font-size: 20px;
    line-height: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 10px;

    text-align: left;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .before-after__cost span {
    margin-left: 62px;
  }
}

.before-after__example {
  min-height: 321px;

  @media (min-width: $desktop-width) {
    flex: 1 0 auto;
  }
}

.before-after__image-box {
  position: relative;
  width: 300px;
  margin: 0 auto;
  height: 277px;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
    width: 660px;
    height: 600px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.before-after__item {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  // background-size: auto;
  @media (max-width: $mobile-width-only) {
    background-size: cover;
  }
}

.before-after__after {
  background-image: url('../img/before-after/after-cat--mobile.png');
  background-position: 100% 0;

    @media (max-width: $mobile-width-only) {
    background-position: 30px 0;
  }
}

.before-after__before {
  position: absolute;
  top: 0;

  background-image: url('../img/before-after/before-cat--mobile.png');
  background-color: $background;

  @media (max-width: $mobile-width-only) {
    background-color: $basic_grey-3;
  }
}

.before-after--image {
  position: absolute;

  @media (max-width: $mobile-width-only) {
    margin-left: -20px;
    top: -10px;
    left: 0;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 100%;
    object-fit: none;
  }

  @media (min-width: $desktop-width) {
    height: 85%;
  }
}

.range-controls__wrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-transform: uppercase;
  font-size: 16px;

  @media (min-width: $tablet-width) {
    position: relative;
    top: -65px;
    margin-inline: 79px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    top: -89px;
    margin-right: 7px;
    margin-left: 88px;
  }
}

@media (min-width: $tablet-width) {
  .range-controls__wrapper p {
    border-bottom: 1px dotted rgba($color: #000000, $alpha: 0.24);
  }
}

.range-controls {
  width: 100px;
  max-width: 335px;
  height: 14px;
  padding: 0 6px;
  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.beforeMin,
.afterMax {
  cursor: pointer;
}
