
.catalog-selection {
  margin-bottom: 25px;
}

.catalog {
  min-width: 280px;
  position: relative;
  padding: 0 20px 18px 20px;
  background-color: $basic_grey;

  @media (min-width: $tablet-width) {
    height: 370px;
    max-width: 709px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-left: 52px;
  }
}



@media (min-width: $desktop-width) {
.catalog-selection__wrapper {
  display: flex;
  gap: 80px;
  justify-content: space-between;
  margin: 0;
padding: 0;
}
}

.catalog__title {
  position: relative;
  padding-top: 29px;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 71px;


	&::before {
    content: '';
    display: block;
    position: absolute;
    width: 70px;
    height: 53px;
    top: 20px;
    left: 2px;

  @media (min-width: $tablet-width){
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    top: 20px;
    right: 50px;
    width: 270px;
    height: 200px;
  }
  }

}

.catalog__title--pro {
  padding-top: 24px;
}

.catalog__title--slim::before {
  background: url(../img/icon/cat_back--slim.svg) 0 0/contain no-repeat;

  @media (min-width: $tablet-width) {
    height: 210px;
    top: 77px;
    left: 395px;
    background-size: contain;
  }
}

@media (min-width: $tablet-width) {
  .catalog__title {
    margin-bottom: 10px;
    padding-top: 74px;
    padding-left: 0;

    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
  }
}

.catalog__title--pro::before {
  height: 50px;
  top: 19px;
  left: -7px;
  background: url(../img/icon/cat_back--pro.svg) 0 0/contain no-repeat;

    @media (min-width: $tablet-width) {
        height: 210px;
        top: 90px;
        left: 358px;
        background-size: contain;
      }
}

.catalog__text {
  position: relative;
  padding-bottom: 21px;
  margin-bottom: 15px;
  border-bottom: 1px solid $catalog_line;
  font-family: 'Arial';
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    position: relative;
    max-width: 60%;
    display: inline-block;
    margin-bottom: 25px;
    border-bottom: 0;
    font-family: 'Arial';
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: $mobile-width-only) {
  .catalog__text br {
    display: none;
  }
}

.catalog__link {
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  padding-block: 5px;

  &::after {
    content: '';
    display: inline-block;
    width: 40px;
    height: 10px;
    margin-left: 15px;
    margin-bottom: 4px;
    background: url(../img/icon/arrow__right.svg) no-repeat;

    @media (min-width: $tablet-width) {
      margin-left: 25px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
  }
}
