.catalog {
  min-width: 280px;
  position: relative;
  padding: 0 20px 18px 20px;
  background-color: $basic_grey;
}

@media (min-width: $desktop-width) {
.catalog-selection__wrapper {
  display: flex;
  gap: 80px;
  justify-content: space-between;
  margin: 0;
padding: 0;
}
}

.catalog__title {
  padding-top: 30px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;

	&::before {
	content: '';
	display: inline-block;
	width: 70px;
	height: 53px;

  @media (min-width: $tablet-width){
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    position: absolute;
    top: 20px;
    right: 50px;
    width: 270px;
    height: 200px;
  }
  }

}

.catalog__title--slim::before {
  // left: 20px;
  background: url(../img/icon/cat_back--slim.svg) 0 0/contain no-repeat;
}

.catalog__title--pro::before {
	left: 50%;
  background: url(../img/icon/cat_back--pro.svg) 0 0/cover no-repeat;
}

.catalog__text {
  position: relative;
  padding-bottom: 23px;
  margin-bottom: 15px;
  border-bottom: 1px solid $catalog_line;
  font-family: 'Arial';
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    position: relative;
    // width: 377px;
    max-width: 45%;
    display: inline-block;
    border-bottom: 0;
  }
}

.catalog__link {
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;

  &::after {
    content: '';
    display: inline-block;
    width: 40px;
    height: 10px;
    margin-left: 15px;
    margin-bottom: 4px;
    background: url(../img/icon/arrow__right.svg) no-repeat;
  }
}
