.footer {
  margin: 0 -20px;
}

.footer-top__wrapper {
  position: relative;
  min-width: 320px;
}

.footer-top__contacts {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  min-width: 320px;
  padding-top: 28px;
  padding-inline: 19px;
  padding-bottom: 26px;
  background-color: $basic_grey;


  @media (min-width: $desktop-width) {
    position: absolute;
    top: 50px;
    width: 570px;
    background-color: $background;
    padding: 66px 99.5px 51px 76px;
  }
}

.footer-top__contacts--grey {
  margin-left: -20px;
  padding: 26px 20px;
  min-width: 320px;
  background-color: $basic_grey;
}

.footer-top__contacts-slogan {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;


    width: 171px;

}

.footer-top__contacts-address {
  font-family: 'Arial';
  font-size: 14px;
  line-height: 20px;

    width: 159px;

}

.footer-top__map {

}

.footer-bottom {
  min-width: 320px;
  padding-top: 40px;
  background-color: $basic_grey;

  @media (min-width: $tablet-width) {
    padding: 0 20px;
  }
}

.footer-bottom__wrapper {
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    text-align: left;
  }
}

.footer-bottom__item {
  width: 100%;
  border-bottom: 1px solid $catalog_line;

  &:last-child{
    border-bottom: none;
  }

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    gap: 21px;
  }
}

.social__item {
  width: 23px;
  height: 23px;
}

.logo {
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.footer-bottom__copyright {
  padding: 32px 0;
}

.footer-bottom__copyright {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.copyright__link {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    gap: 22px;
  }
}
