.page-header {
  min-width: 280px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 112px 815px;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    max-height: 750px;
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 11px;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
  display: block;
  margin-top: 24px;
  margin-left: 8px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 53px;
    margin-left: 88px;
  }
}

.page-header__logo--size {
  width: 33.5px;
  height: 37.5px;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 51.5px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.page-header__logo {
  margin-inline: 1px;
}

.page-header__logo:hover {
  opacity: 0.8;
}

.page-header__logo:active {
  opacity: 0.6;
}

@media (min-width: $tablet-width) {
  .page-header__logo-text {
  display: none;
}
}

@media (max-width: $mobile-width-only) {
  .page-header__logo--tablet,
  .page-header__logo--desktop {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .page-header__logo--mobile,
  .page-header__logo--desktop {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo--mobile,
  .page-header__logo--tablet {
    display: none;
  }
  .page-header__logo--desktop {
    display: inline-flex;
    margin-top: 45px;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__toogle {
    display: none;
  }
}

@media (min-width: $tablet-width) {
.current::after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: $basic_green;

  @media (min-width: $desktop-width) {
    background-color: $background;
  }
}
}

@media (max-width: $mobile-width-only) {
.site-list__item a {
  position: relative;
}
}

@media (max-width: $mobile-width-only) {
  .current--index::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $basic_green;
  }
}

@media (min-width: $desktop-width) {
  .current--index-main::after {
    background-color: $basic_white !important;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: max-content;
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    margin-top: 27px;
    margin-right: 95px;
  }
}

@media (max-width: $mobile-width-only) {
.main-nav--close {
  display: none;
}
}

.main-nav__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  margin: 0;
  padding: 0;
  color: $basic_color;
  text-align: center;
  text-transform: uppercase;
  list-style: none;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    margin-top: 50px;
    z-index: 2;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    font-size: 18px;
    line-height: 24px;
    margin-top: 20px;

  }
}

.site-list__item {
  position: relative;
  width: 320px;
  padding: 21.5px 0;
  border-bottom: 1px solid $grey_line;
  font-weight: 500;

  @media (min-width: $tablet-width) {
    width: max-content;
    border-bottom: 0;
    margin-right: 30px;
    align-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    color: white;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
  }
}

  @media (min-width: $tablet-width) {
  .site-list__item:last-child {
  margin-right: 0;
  }
}

  @media (max-width: $mobile-width-only) {
    .site-list__item:first-child {
    border-top: 1px solid $grey_line;
  }
}

@media (min-width: $desktop-width) {
  .main-nav--index a {
  color: $basic_white;
  }
}

