.how-it-works {
  margin-bottom: 18px;
  padding-bottom: 4px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.how-it-works__title {
  margin-top: 0;
  margin-bottom: 38px;
    font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    margin-top: 45px;
    margin-bottom: 75px;
    margin-left: 10px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
  }
  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
  }
}

.how-it-works__list {
  position: relative;
  min-width: 280px;
  list-style: none;
  counter-reset: point; /* задаем переменную для счетчика */
  padding: 0;


  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 17px;
    padding-left: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 23px;
  }
}

.how-it-works__item {
  position: relative;
  min-height: 60px;
  margin-bottom: 20px;
  font-family: 'Arial';
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    width: 230px;
    height: 280px;
  }
  @media (min-width: $desktop-width) {
    height: 228px;
    margin-bottom: 10px;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .how-it-works__item:nth-child(even) {
    margin-right: 105px;
  }
}

@media (min-width: $desktop-width) {
  .how-it-works__item:last-child {
  margin-right: 0;
  }
}

.how-it-works__item::before {
  content: '';
  position: absolute;
  width: 60px;
  height: 60px;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
  }
}

@media (min-width: $tablet-width) {
.how-it-works__list li::after {
  content: counter(point); /* выводим значение переменной */
  counter-increment: point 1; /* увеличваем счетчик на 1 */
  position: absolute;
  top: -40px;
  right: -16px;
  z-index: -1;
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 280px;
  line-height: 280px;
  color: $basic_grey;
  }
  .how-it-works__list li:first-child::after {
    right: 0;
  }
}

.how-it-works__item-description {
  padding-top: 2px;
  padding-left: 80px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-top: 113px;
    font-family: 'Arial';
    font-size: 16px;
    line-height: 24px;
  }
}

.how-it-works__item--useful::before {
  background: url("../img/icon/how-it-works-useful.png");
}

.how-it-works__item--form::before {
  background: url("../img/icon/how-it-works-form.png");
}

.how-it-works__item--change::before {
  background: url("../img/icon/how-it-works-change.png");
}

.how-it-works__item--result::before {
  background: url("../img/icon/how-it-works-result.png");
}

@media (min-width: $tablet-width) {
  .how-it-works__item--useful::before,
  .how-it-works__item--form::before,
  .how-it-works__item--change::before,
  .how-it-works__item--result::before {
    background-size: cover;
    background-repeat: no-repeat;
  }
}
