.main-intro {
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-column-start: 1;
    grid-column-end: -1;
    // margin-inline: auto;
  }
}

.main-intro .main-intro--bg {
  position: relative;
  min-width: 280px;

  @media (min-width: $tablet-width) {
    background-image: none;
    margin-left: 0;
  }
}

.main-intro__picture {
  position: absolute;
  width: 320px;
  height: 302px;
  top: 0;
  left: 50%;
  transform:translate(-50%, 0);
  background-image: linear-gradient($opacity_green, $opacity_green),
                    url(img/bg/cat-desktop.jpg);
  background-color: $basic_green;
                    background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient($opacity_green, $opacity_green),
                      url(../img/bg/cat-desktop@2x.jpg);
  }

  @media (max-width: $mobile-width-only) {
    background-position: 0 0, -90px 0;
  }

  @media (min-width: $tablet-width) {
          display: none;
  }
  @media (min-width: $desktop-width) {
    position: absolute;
    top: -52px;
    left: 699px;
    transform: translate(0, 0);
    display: block;
    // width: 50vw;
    min-width: 720px;
    height: 696px;
      background-image: linear-gradient($opacity_green, $opacity_green),
          url(../img/bg/cat-desktop.jpg);
          background-color: $basic_green;
    background-size: cover;
    z-index: -1;

  }
}

.main-intro__title {
  position: relative;
  color: $basic_white;
  padding-top: 27px;
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.main-intro__text {
  position: relative;
  color: $basic_white;
  margin-bottom: 27px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .main-intro__title,
  .main-intro__text {
    display: block;
    margin-left: 97px;
    min-width: 414px;
    text-align: left;
    color: $basic_color;
  }
}

.main-intro__picture-chiken-pro {
  position: relative;
  width: 300px;
  height: 275px;
  background-image: url("../img/chiken-pro.png");
  background-size: 300px 270px;
  background-position: -20px 0;
  background-repeat: no-repeat;
  margin-inline: auto;

  @media (min-resolution: 1.5dppx) {
    background-image: url("../img/chiken-pro@2x.png");
    }

  @media (min-width: $tablet-width) {
    display: block;
    width: 100%;
    height: 609px;
    background-size: contain;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
    height: 499px;
    top: -100px;
    background-size: 552px 499px;
    background-position: 65% 50%;
  }
}

