@media (min-width: $desktop-width) {
  .form-section--desktop__wrapper {
    display: flex;
    gap: 80px;
  }
  .form-section--desktop__wrapper .form-section {
    flex-basis: 50%;
  }

    .form-section--desktop__wrapper .form-section--program {
      padding-left: 30px;
      border-left: 1px solid $catalog_line;
    }
}

.program-select__title {
  margin-bottom: 37px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.program-select__text {
  margin-bottom: 39px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

.form-section {
  margin-bottom: 26px;
}

.form-section--program {
  border-top: 1px solid $catalog_line;
  border-bottom: 1px solid $catalog_line;

  @media (min-width: $tablet-width) {
    border-right: 1px solid $catalog_line;
  }
}


.form__item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.form__item:last-child  {
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .program-select__need {
  width: 50%;
  text-align: left;
  font-family: 'Arial';
  font-size: 16px;
  line-height: 16px;
}
}

.form__label {
  flex-shrink: 0;
  margin-right: 15px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
}

.form__input {
  width: 100%;
  padding: 13px 0 15px 14px;
  border: 1px solid $border_input;

  &::placeholder{
    text-transform: uppercase;
    color: $special_dark-grey;
  }
}

.form__input--email,
.form__input--phone{
  min-width: 20px;
  position: absolute;
  right: 20px;
}

// svg line,
// svg path {
//     stroke: red;
//     fill: red;
// }


@media (min-width: $desktop-width) {
  .form-section--owner {
    display: flex;
    gap: 78px;
  }

  .form-section--owner .form__item {
    flex-grow: 1;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .form-section--additionally {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form-section--additionally .form__item {
    width: 50%;
  }
}

@media (min-width: $desktop-width) {
  .form-section--additionally {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

  .form__item {

    flex-basis: 25%;
  }
}


.form-section--program {
  padding-bottom: 19px;
}

.radio__wrapper {
  padding-top: 20px;
}

.form__radio {
  margin-top: 5px;
  margin-left: 40px;
  padding-bottom: 13px;
}

.form__item:last-child .form__radio {
  padding: 0;
}

.form__input + .form__radio::before {
  content: '';
  width: 30px;
  height: 30px;
  position: absolute;
  border: 1px solid $special_grey;
  border-radius: 50%;
  top: 0;
  left: 0;
}

.form__input:checked + .form__radio:after {
  content: '';
  width: 14px;
  height: 14px;
  position: absolute;
  background-color: $basic_green;
  border-radius: 50%;
  top: 8px;
  left: 8px;
}

.form__input:focus + .form__radio::before {
  // outline: 2px solid $special_dark-grey-2;
  outline: 2px solid $basic_green;
}


.form__legend {
  width: 100%;
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 26px;
  background-image: linear-gradient(to bottom, transparent 0, transparent 16px, #68b738 16px, #68b738 18px, transparent 18px, transparent 100%);
}

.form__legend span {
  display: inline-block;
  padding-right: 14px;
  background-color: $background;

}

@media (min-width: $tablet-width) {
  .form__legend--title br{
  display: none;
  }
}

.form-section--comment {
  width: 100%;
  margin-bottom: 22px;
}

.form-section--comment>textarea {
  width: 100%;
  resize: none;
  border: 1px solid $border_input;
}

.form-section--comment > textarea::placeholder {
  padding-top: 9px;
  text-transform: uppercase;
  font-family: 'Oswald';
  font-size: 16px;
  line-height: 18px;
}

.additionally {
  width: auto;
  height: 30px;
  margin-left: 40px;
}

.form__input + .additionally::before {
  content: '';
  width: 30px;
  height: 30px;
  position: absolute;
  border: 1px solid $border_input;
  top: -8px;
  left: 0;
}

.form__input:checked + .additionally::after {
  content: '';
  width: 30px;
  height: 30px;
  position: absolute;
  background-image: url(../img/icon/check.svg);
  background-repeat: no-repeat;
  top: 0;
  left: 7px;
}

.form__input:focus + .additionally::before{
  outline: 2px solid $special_dark-grey-2;
}
