@media (min-width: $desktop-width) {
  .form-section--desktop__wrapper {
    display: flex;
    gap: 80px;
    margin-bottom: 70px;
  }
  .form-section--desktop__wrapper .form-section {
    flex-basis: 50%;
  }

    .form-section--desktop__wrapper .form-section--program {
      padding-left: 30px;
      border-left: 1px solid $catalog_line;
    }
}

.program-select__title {
  margin-top: 19px;
  margin-bottom: 37px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    margin-top: 43px;
    margin-bottom: 52px;
    padding-left: 50px;
    font-size: 60px;
    line-height: 60px;
  }
  @media (min-width: $desktop-width) {
    margin-top: 50px;
    margin-bottom: 59px;
  }
}

.program-select__text {
  margin-bottom: 39px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    margin-bottom: 69px;
    padding-left: 50px;
    line-height: 30px;
    font-size: 20px;
  }
}

.form {
  @media (min-width: $tablet-width) {
  padding-left: 50px;
  }
}

.form-section {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.form-section--program {
  border-top: 1px solid $catalog_line;
  border-bottom: 1px solid $catalog_line;

  @media (min-width: $tablet-width) {
    border-right: 1px solid $catalog_line;
  }
}

.form-section--cat .form__item {
  @media (min-width: $desktop-width) {
    margin-bottom: 26px;
  }
}

.form__item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.form__item:last-child  {
  margin-bottom: 0;
}

.form-section--additionally .form__item:first-of-type {
  margin-top: 3px;
}

.form-section--additionally .form__item {
  margin-bottom: 12px;
  padding-left: 7px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.form-section--additionally .form__item:last-of-type {
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
  @media (min-width: $desktop-width) {
    flex: 1 1 auto;
  }
}

.radio__wrapper .form__item {
  margin-bottom: 12px;
}

.program-select__need {
  text-align: center;
  margin-bottom: 7px;
  font-family: 'Arial';
  font-size: 14px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    width: 50%;
    margin-top: 32px;
    font-family: 'Arial';
    font-size: 16px;
    line-height: 16px;
  }
}

.form__label {
  flex-shrink: 0;
  margin-right: 10px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    margin-right: 21px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form__input {
  width: 100%;
  padding: 13px 0 15px 14px;
  border: 1px solid $border_input;

  &::placeholder{
    text-transform: uppercase;
    color: $special_dark-grey;
    font-family: 'Oswald';
    font-size: 16px;
    line-height: 18px;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

.form__input--email,
.form__input--phone{
  min-width: 20px;
  position: absolute;
  right: 20px;
}

  .form-section--owner {
    @media (min-width: $tablet-width) {
      margin-bottom: 69px;
    }
    @media (min-width: $desktop-width) {
    display: flex;
    gap: 78px;
  }
}

  .form-section--owner .form__item {
    @media (min-width: $desktop-width) {
    flex-grow: 1;
  }
}

@media (min-width: $tablet-width) {
  .form-section--additionally {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 42px;
  }
}

  .form-section--additionally .form__item {
  @media (min-width: $tablet-width) {
  width: 50%;
  }
  @media (min-width: $desktop-width) {
    width: 100px;
    margin-right: 20px;
  }
}

@media (min-width: $desktop-width) {
  .form-section--additionally {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 90px;
    }

  .form__item {
    flex-basis: 25%;
  }
}


.form-section--program {
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-bottom: 12px;
  }
}

.radio__wrapper {
  padding-top: 20px;

  @media (min-width: $desktop-width) {
    margin-left: -31px;
  }
}

.form__radio {
  margin-top: 5px;
  margin-left: 40px;
  padding-bottom: 6px;

  @media (min-width: $tablet-width) {
    padding-left: 50px;
  }
}

.form__item:last-child .form__radio {
  padding: 0;

  @media (min-width: $tablet-width) {
    padding-left: 50px;
  }
}

.form__input + .form__radio::before {
  content: '';
  width: 30px;
  height: 30px;
  position: absolute;
  border: 1px solid $special_grey;
  border-radius: 50%;
  top: 0;
  left: 0;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    left: 30px;
  }
}

.form__input:checked + .form__radio:after {
  content: '';
  width: 14px;
  height: 14px;
  position: absolute;
  background-color: $basic_green;
  border-radius: 50%;
  top: 8px;
  left: 8px;

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
    top: 11px;
    left: 40px;
  }
}

.form__input:focus + .form__radio::before {
  // outline: 2px solid $special_dark-grey-2;
  outline: 2px solid $basic_green;
}


.form__legend {
  width: 100%;
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 26px;
  background-image: linear-gradient(to bottom, transparent 0, transparent 16px, #68b738 16px, #68b738 18px, transparent 18px, transparent 100%);

  @media (min-width: $tablet-width) {
    margin-bottom: 79px;
    font-size: 36px;
    line-height: 36px;
  }
}

.form-section--additionally .form__legend {
  margin-bottom: 59px;

  @media (max-width: $mobile-width-only) {
    margin-bottom: 34px;
  }
}



.form__legend span {
  display: inline-block;
  padding-right: 14px;
  background-color: $background;
}

@media (min-width: $tablet-width) {
  .form__legend--title br{
  display: none;
  }
}

.form-section--comment {
  width: 100%;
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin-bottom: 78px;
  }
}

.form-section--comment>textarea {
  width: 100%;
  resize: none;
  border: 1px solid $border_input;
}

.form-section--comment textarea::placeholder {
  padding-top: 10px;
  padding-left: 10px;
  text-transform: uppercase;
  font-family: 'Oswald';
  font-size: 16px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.additionally {
  width: auto;
  height: 30px;
  margin-left: 40px;

  @media (min-width: $tablet-width) {
    padding-left: 13px;
  }
}

.form__input + .additionally::before {
  content: '';
  top: -8px;
  left: 0;
  width: 30px;
  height: 30px;
  position: absolute;
  border: 1px solid $border_input;

  @media (min-width: $tablet-width) {
    top: -5px;
    width: 40px;
    height: 40px;
  }
}

.form__input:checked + .additionally::after {
  content: '';
  top: 0;
  left: 7px;
  width: 30px;
  height: 30px;
  position: absolute;
  background-image: url(../img/icon/check.svg);
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
      top: 6px;
      left: 11px;
  }
}

.form__input:focus + .additionally::before{
  outline: 2px solid $special_dark-grey-2;
}
