.products {
  @media (min-width: $tablet-width) {
    margin-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 78px;
  }
}

.product {
  @media (max-width: $mobile-width-only) {
    margin-bottom: 47px;
  }
}

.products-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (max-width: $mobile-width-only) {
    width: 100vh;
    margin-top: 0;
    margin-left: -20px;
    padding-left: 20px;
    padding-top: 19px;
    padding-bottom: 40px;
    border-bottom: 1px solid $catalog_line;
  }

  @media (min-width: $tablet-width) {
    padding-top: 2px;
    margin-left: 9px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 50px;
  }
}

.product__feature--item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 19px;
    border-bottom: 1px solid $special_grey;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 15px;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 16px;
  }
}

.products__list {
  position: relative;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    column-gap: 70px;
    row-gap: 63px;
    justify-content: flex-start;
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .product:not(:last-child)::before {
    content: "";
    position: absolute;
    top: 120px;
    width: 100%;
    height: 430px;
    background-color: $basic_grey;
    z-index: -1;

    @media (min-width: $desktop-width) {
      width: 245px;
      top: 120px;
    }
  }
}


.products__item {
  position: relative;
  min-width: 280px;
  display: grid;
  grid-template-columns: 50% 1fr 1fr;
  grid-template-rows: 1fr 1fr 40px;
  justify-content: center;
  border-bottom: 1px solid $basic_grey-2;

  &:last-child {
    min-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid $basic_grey-2;
    text-align: center;
    padding: 0;
    padding-bottom: 25px;

    @media (max-width: $mobile-width-only) {
      border: none;
    }

    @media (min-width: $tablet-width) {
      justify-content: flex-start;
    }

    @media (min-width: $desktop-width) {
      gap: 20px;
    }

    & .product__title {
      font-size: 16px;
      line-height: 20px;

      @media (min-width: $tablet-width) {
        font-size: 20px;
        line-height: 22px;
      }
    }

    & .product__text {
      margin-bottom: 21px;
      font-family: "Arial", sans-serif;
      font-size: 12px;
      line-height: 16px;

      @media (min-width: $tablet-width) {
        max-width: 200px;
        margin: 0 auto;
        margin-bottom: 85px;
        font-size: 16px;
        line-height: 18px;
      }

      @media (min-width: $desktop-width) {
        margin-bottom: 0;
      }
    }
  } //end last-child

  @media (max-width: $mobile-width-only) {
    height: 162px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex: 1;
    width: 324px;
    height: 509px;
    margin-inline: 10px;
  }

  @media (min-width: $desktop-width) {
    flex: 0;
    justify-content: flex-end;
    width: 245px;
    min-width: 245px;
    height: 431px;
    min-height: 515px;
  }
}

.products__item--view-all {
  height: 180px;

  @media (max-width: $mobile-width-only) {
    margin-bottom: 29px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 120px;
    height: 429px;
  }
}

.product__icon {
  padding-top: 25px;

  @media (max-width: $mobile-width-only) {
    padding-top: 0;
    flex: 1 0 auto;
  }

  @media (min-width: $tablet-width) {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.product__icon--gift {
  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    border: 2px;
  }
}

.product__img {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  margin: auto;

  @media (max-width: $mobile-width-only) {
    width: 78px;
    height: 86px;
    object-fit: contain;
  }

  @media (min-width: $tablet-width) {
    flex: 1 0;
    margin-top: 45px;
    object-fit: contain;
  }
}

.products__img--1kg {
  @media (max-width: $mobile-width-only) {
    width: 80px;
    height: 98px;
  }
}

.product__description {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  width: 100%;

  @media (min-width: $desktop-width) {
    margin-bottom: 10px;
  }
}

.product__title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  @media (max-width: $mobile-width-only) {
    margin-bottom: 14px;
    margin-top: -4px;
  }

  @media (min-width: $tablet-width) {
    max-width: 150px;
    margin: 25px auto;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 21.5px;
    font-size: 20px;
    line-height: 21px;
  }
}

@media (min-width: $tablet-width) {
  .product__title br {
    display: none;
  }
}

.product__feature {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    padding-inline: 35px;
    font-size: 16px;
    line-height: 16px;
  }
}

.product__feature-title,
.product__feature-text {
  display: inline-block;
}

.product__feature-text {
  margin: 0;
}
