@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Oswald:400,500&display=swap);
@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
}
img {
  max-width: 100%;
  height: auto;
}

a {
  color: #000000;
  text-decoration: none;
}

a:visited {
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

fieldset {
  height: auto;
  border: 0;
  margin: 0;
  padding: 0;
}

label {
  cursor: pointer;
}

input:focus {
  border: 2 px solid #444444;
}

iframe {
  min-width: 320px;
}

h2, h3 {
  margin: 0;
  padding: 0;
}

.button {
  padding: 7px 44px;
  cursor: pointer;
  border: 0;
  background-color: #68B738;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

a.button--intro {
  display: block;
  min-width: 280px;
  margin-inline: auto;
  padding-block: 10px;
  color: #FFFFFF;
}
@media (max-width: 320px) {
  a.button--intro {
    max-width: 280px;
  }
}
@media (min-width: 768px) {
  a.button--intro {
    position: relative;
    top: -561px;
    left: 0;
    width: 245px;
    min-width: 245px;
    height: 54px;
    margin-left: 92px;
    padding: 18px;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1439px) {
  a.button--intro {
    top: -500px;
    left: 5px;
  }
}

.main-nav__toogle {
  background: transparent;
  border: none;
}

.page-header__wrapper button.main-nav__toogle {
  position: relative;
  width: 24px;
  height: 16px;
  cursor: pointer;
}

.main-nav--closed::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1.5px;
  background-color: #000000;
  box-shadow: 0 -8px 0 0 #000000, 0 8px 0 0 #000000;
}

.main-nav--opened::before,
.main-nav--opened::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 25px;
  height: 1.5px;
  transform: rotate(45deg);
  background-color: #000000;
}

.main-nav--opened::after {
  transform: rotate(-45deg);
}

.form__button {
  width: 100%;
  margin-bottom: 9px;
  padding-block: 10px;
  color: #FFFFFF;
  font-family: "Oswald";
  font-size: 16px;
}
@media (min-width: 768px) {
  .form__button {
    width: 50%;
    margin-top: 18px;
    padding-block: 16px;
    max-width: 282px;
    max-height: 60px;
    font-size: 20px;
  }
}
@media (min-width: 1439px) {
  .form__button {
    max-width: 568px;
    margin-top: 30px;
    margin-right: 81px;
  }
}

a.button--product {
  width: 100%;
  padding-top: 10px;
  grid-column: 1/-1;
  grid-row: 3/4;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: 768px) {
  a.button--product {
    width: 248px;
    margin: 0 auto;
  }
}

@media (min-width: 1439px) {
  .products__item .button--product {
    width: auto;
    margin-inline: 40px;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .add .button--product {
    width: 100%;
  }
}
a.button--view-all {
  background-color: #F2F2F2;
  width: 100%;
  padding-top: 10px;
  font-size: 16px;
  color: #444444;
}
@media (min-width: 768px) {
  a.button--view-all {
    width: 249px;
    margin: 0 auto;
  }
}
@media (min-width: 1439px) {
  a.button--view-all {
    width: auto;
    margin-inline: 40px;
    padding: 10px;
  }
}

.page {
  height: 100%;
  font-family: Oswald;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-width: 280px;
  max-width: 767px;
  min-height: 100%;
  margin: 0 auto;
  color: #000000;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .page__body {
    min-width: 768px;
    max-width: 1439px;
  }
}

@media (min-width: 1439px) {
  .page-main {
    margin-inline: 41px 88px;
  }
}
.page-header {
  position: relative;
  min-width: 280px;
}
@media (max-width: 767px) {
  .page-header::after {
    content: "";
    position: absolute;
    bottom: 8px;
    width: 100vh;
    margin-left: -20px;
    border-bottom: 1px solid #D9D9D9;
  }
}
@media (min-width: 768px) {
  .page-header {
    display: flex;
  }
}

@media (min-width: 768px) {
  .page-header--index {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 112px 815px;
    margin-bottom: 25px;
  }
}
@media (min-width: 1439px) {
  .page-header--index {
    max-height: 750px;
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 11px;
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .page-header__wrapper {
    display: block;
    margin-top: 24px;
    margin-left: 8px;
  }
}
@media (min-width: 1439px) {
  .page-header__wrapper {
    margin-top: 53px;
    margin-left: 88px;
  }
}

.page-header__logo--size {
  width: 33.5px;
  height: 37.5px;
}
@media (min-width: 768px) {
  .page-header__logo--size {
    width: 174px;
    height: 51.5px;
  }
}
@media (min-width: 1439px) {
  .page-header__logo--size {
    width: 202px;
    height: 59px;
  }
}

.page-header__logo {
  margin-inline: 1px;
}

.page-header__logo:hover {
  opacity: 0.8;
}

.page-header__logo:active {
  opacity: 0.6;
}

@media (min-width: 768px) {
  .page-header__logo-text {
    display: none;
  }
}
@media (max-width: 767px) {
  .page-header__logo--tablet,
.page-header__logo--desktop {
    display: none;
  }
}
@media (min-width: 768px) {
  .page-header__logo--mobile,
.page-header__logo--desktop {
    display: none;
  }
}
@media (min-width: 1439px) {
  .page-header__logo--mobile,
.page-header__logo--tablet {
    display: none;
  }
  .page-header__logo--desktop {
    display: inline-flex;
    margin-top: 45px;
  }
}
@media (min-width: 768px) {
  .main-nav__toogle {
    display: none;
  }
}
@media (min-width: 768px) {
  .current::after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #68B738;
  }
}
@media (min-width: 768px) and (min-width: 1439px) {
  .current::after {
    background-color: #FFFFFF;
  }
}
@media (max-width: 767px) {
  .site-list__item a {
    position: relative;
  }
}
@media (max-width: 767px) {
  .current--index::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #68B738;
  }
}
@media (min-width: 1439px) {
  .current--index-main::after {
    background-color: #FFFFFF !important;
  }
}
@media (min-width: 768px) {
  .main-nav {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-left: auto;
  }
}
@media (min-width: 1439px) {
  .main-nav {
    margin-top: 27px;
    margin-right: 95px;
  }
}
@media (max-width: 767px) {
  .main-nav--close {
    display: none;
  }
}
.main-nav__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  margin: 0;
  padding: 0;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  list-style: none;
}
@media (min-width: 768px) {
  .main-nav__list {
    flex-direction: row;
  }
}
@media (min-width: 1439px) {
  .main-nav__list {
    margin-top: 50px;
    z-index: 2;
  }
}

@media (min-width: 768px) {
  .site-list {
    font-size: 18px;
    line-height: 24px;
    margin-top: 20px;
  }
}
.site-list__item {
  position: relative;
  width: 320px;
  padding: 21.5px 0;
  border-bottom: 1px solid #E6E6E6;
  font-weight: 500;
}
@media (min-width: 768px) {
  .site-list__item {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    border-bottom: 0;
    margin-right: 30px;
    align-content: flex-end;
  }
}
@media (min-width: 1439px) {
  .site-list__item {
    color: white;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
  }
}

.site-list__item:last-child {
  border-bottom: none;
}

@media (min-width: 768px) {
  .site-list__item:last-child {
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .site-list__item:first-child {
    border-top: 1px solid #E6E6E6;
  }
}
@media (min-width: 1439px) {
  .main-nav--index a {
    color: #FFFFFF;
  }
}
.main-intro {
  text-align: center;
}
@media (min-width: 768px) {
  .main-intro {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

.main-intro .main-intro--bg {
  position: relative;
  min-width: 280px;
}
@media (min-width: 768px) {
  .main-intro .main-intro--bg {
    background-image: none;
    margin-left: 0;
  }
}
@media (min-width: 1439px) {
  .main-intro .main-intro--bg {
    padding-left: 73px;
    padding-top: 84px;
  }
}

.main-intro__picture {
  position: absolute;
  width: 320px;
  height: 302px;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url(../img/bg/cat-desktop.webp);
  background-color: #68B738;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .main-intro__picture {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url(../img/bg/cat-desktop@2x.jpg);
  }
}
@media (max-width: 767px) {
  .main-intro__picture {
    background-position: 0 0, -90px 0;
  }
}
@media (min-width: 768px) {
  .main-intro__picture {
    display: none;
  }
}
@media (min-width: 1439px) {
  .main-intro__picture {
    position: absolute;
    top: -52px;
    left: 699px;
    transform: translate(0, -60px);
    display: block;
    min-width: 720px;
    height: 696px;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url(../img/bg/cat-desktop.jpg);
    background-color: #68B738;
    background-size: cover;
    z-index: -1;
  }
}

.main-intro__title {
  position: relative;
  color: #FFFFFF;
  padding-top: 27px;
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}
@media (min-width: 768px) {
  .main-intro__title {
    font-size: 60px;
    line-height: 60px;
  }
}

.main-intro__text {
  position: relative;
  color: #FFFFFF;
  margin-bottom: 27px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .main-intro__text {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
  }
}

@media (min-width: 768px) {
  .main-intro__title,
.main-intro__text {
    display: block;
    margin-left: 97px;
    margin-bottom: 41px;
    min-width: 414px;
    text-align: left;
    color: #000000;
  }
  .main-intro__text {
    margin-bottom: 2px;
  }
}
@media (min-width: 1439px) {
  .main-intro__text {
    margin-bottom: 52px;
  }
}
.main-intro__picture-chiken-pro {
  position: relative;
  width: 300px;
  height: 275px;
  background-image: url("../img/chiken-pro.png");
  background-size: 300px 270px;
  background-position: -20px 0;
  background-repeat: no-repeat;
  margin-inline: auto;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .main-intro__picture-chiken-pro {
    background-image: url("../img/chiken-pro@2x.png");
  }
}
@media (min-width: 768px) {
  .main-intro__picture-chiken-pro {
    display: block;
    width: 709px;
    height: 609px;
    background-position: 35px 20px;
    background-size: contain;
  }
}
@media (min-width: 1439px) {
  .main-intro__picture-chiken-pro {
    max-width: 100%;
    height: 499px;
    top: -315px;
    left: 53px;
    background-size: 552px 499px;
    background-position: 65% 50%;
  }
}

.catalog-selection {
  margin-bottom: 25px;
}

.catalog {
  min-width: 280px;
  position: relative;
  padding: 0 20px 18px 20px;
  background-color: #F2F2F2;
  margin-block: 24px;
}
@media (min-width: 768px) {
  .catalog {
    height: 370px;
    max-width: 709px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-left: 52px;
  }
}
@media (min-width: 1439px) {
  .catalog {
    width: 570px;
    height: 374px;
  }
}

@media (min-width: 1439px) {
  .catalog-selection__wrapper {
    display: flex;
    gap: 80px;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
}
.catalog__title {
  position: relative;
  padding-top: 29px;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 71px;
}
@media (min-width: 1439px) {
  .catalog__title {
    padding-top: 76px;
    padding-bottom: 30px;
    padding-left: 168px;
    font-size: 36px;
    line-height: 36px;
  }
}
.catalog__title::before {
  content: "";
  display: block;
  position: absolute;
  width: 70px;
  height: 53px;
  top: 20px;
  left: 2px;
}
@media (min-width: 768px) {
  .catalog__title::before {
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  .catalog__title::before {
    top: 20px;
    right: 50px;
    width: 270px;
    height: 200px;
  }
}
@media (min-width: 1439px) {
  .catalog__title::before {
    top: 44px;
    left: 9px;
    width: 100px;
    height: 100px;
  }
}

.catalog__title--slim::before {
  background: url(../img/icon/cat_back--slim.svg) 0 0/contain no-repeat;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .catalog__title--slim::before {
    height: 210px;
    top: 77px;
    left: 395px;
    background-size: contain;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .catalog__title {
    margin-bottom: 10px;
    padding-top: 74px;
    padding-left: 0;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
  }
}
@media (min-width: 1439px) {
  .catalog__title--pro {
    padding-left: 159px;
  }
}
.catalog__title--pro::before {
  height: 50px;
  top: 19px;
  left: -7px;
  background: url(../img/icon/cat_back--pro.svg) 0 0/contain no-repeat;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .catalog__title--pro::before {
    height: 210px;
    top: 90px;
    left: 358px;
    background-size: contain;
  }
}
@media (min-width: 1439px) {
  .catalog__title--pro::before {
    top: 47px;
    left: -23px;
    width: 134px;
    height: 100px;
  }
}

.catalog__text {
  position: relative;
  padding-bottom: 21px;
  margin-bottom: 13px;
  border-bottom: 1px solid #D9D9D9;
  font-family: "Arial";
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .catalog__text {
    position: relative;
    max-width: 60%;
    display: inline-block;
    margin-bottom: 25px;
    border-bottom: 0;
    font-family: "Arial";
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1439px) {
  .catalog__text {
    max-width: 95%;
    margin-bottom: 0;
  }
}

@media (min-width: 1439px) {
  .catalog__text br {
    display: none;
  }
}
@media (max-width: 767px) {
  .catalog__text br {
    display: none;
  }
}
.catalog__link {
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  padding-block: 5px;
}
.catalog__link::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 10px;
  margin-left: 15px;
  margin-bottom: 4px;
  background: url(../img/icon/arrow__right.svg) no-repeat;
}
@media (min-width: 768px) {
  .catalog__link::after {
    margin-left: 25px;
  }
}
@media (min-width: 768px) {
  .catalog__link {
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
  }
}

.how-it-works {
  margin-bottom: 18px;
  padding-bottom: 4px;
}
@media (min-width: 768px) {
  .how-it-works {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.how-it-works__title {
  margin-top: 0;
  margin-bottom: 38px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}
@media (min-width: 768px) {
  .how-it-works__title {
    margin-top: 45px;
    margin-bottom: 75px;
    margin-left: 10px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
  }
}
@media (min-width: 1439px) {
  .how-it-works__title {
    margin-bottom: 70px;
  }
}

.how-it-works__list {
  position: relative;
  min-width: 280px;
  list-style: none;
  counter-reset: point; /* задаем переменную для счетчика */
  padding: 0;
}
@media (min-width: 768px) {
  .how-it-works__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 17px;
    padding-left: 10px;
  }
}
@media (min-width: 1439px) {
  .how-it-works__list {
    margin-right: 23px;
  }
}

.how-it-works__item {
  position: relative;
  min-height: 60px;
  margin-bottom: 20px;
  font-family: "Arial";
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .how-it-works__item {
    width: 230px;
    height: 280px;
  }
}
@media (min-width: 1439px) {
  .how-it-works__item {
    height: 228px;
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .how-it-works__item:nth-child(even) {
    margin-right: 105px;
  }
}
@media (min-width: 1439px) {
  .how-it-works__item:last-child {
    margin-right: 0;
  }
}
.how-it-works__item::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
}
@media (min-width: 768px) {
  .how-it-works__item::before {
    width: 80px;
    height: 80px;
  }
}

@media (min-width: 768px) {
  .how-it-works__list li::after {
    content: counter(point); /* выводим значение переменной */
    counter-increment: point 1; /* увеличваем счетчик на 1 */
    position: absolute;
    top: -40px;
    right: -16px;
    z-index: -1;
    font-family: "Oswald";
    font-weight: 400;
    font-size: 280px;
    line-height: 280px;
    color: #F2F2F2;
  }
  .how-it-works__list li:first-child::after {
    right: 0;
  }
}
.how-it-works__item-description {
  padding-top: 2px;
  padding-left: 80px;
}
@media (min-width: 768px) {
  .how-it-works__item-description {
    padding: 0;
    margin-top: 113px;
    font-family: "Arial";
    font-size: 16px;
    line-height: 24px;
  }
}

.how-it-works__item--useful::before {
  background: url("../img/icon/how-it-works-useful.png");
}

.how-it-works__item--form::before {
  background: url("../img/icon/how-it-works-form.png");
}

.how-it-works__item--change::before {
  background: url("../img/icon/how-it-works-change.png");
}

.how-it-works__item--result::before {
  background: url("../img/icon/how-it-works-result.png");
}

@media (min-width: 768px) {
  .how-it-works__item--useful::before,
.how-it-works__item--form::before,
.how-it-works__item--change::before,
.how-it-works__item--result::before {
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.before-after {
  min-width: 320px;
  margin-inline: -20px;
  background-color: #EAEAEA;
}
@media (min-width: 1439px) {
  .before-after {
    margin-bottom: 45px;
  }
}

.before-after__wrapper {
  padding-inline: 20px;
}
@media (min-width: 768px) {
  .before-after__wrapper {
    width: 100%;
    background-color: #FFFFFF;
  }
}
@media (min-width: 1439px) {
  .before-after__wrapper {
    display: flex;
    max-height: 600px;
  }
}

@media (min-width: 768px) {
  .before-after__text-box {
    margin-bottom: 10px;
  }
}
@media (min-width: 1439px) {
  .before-after__text-box {
    width: 436px;
    margin-right: 134px;
  }
}

.before-after__title {
  margin-top: 0;
  margin-bottom: 33px;
  padding-top: 27px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}
@media (min-width: 768px) {
  .before-after__title {
    margin-bottom: 55px;
    padding: 9px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
  }
}
@media (min-width: 1439px) {
  .before-after__title {
    margin-top: 42px;
    margin-bottom: 135px;
  }
}

.before-after__text {
  margin-bottom: 26px;
  font-family: "Arial";
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .before-after__text {
    margin-left: 11px;
    margin-bottom: 52px;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1439px) {
  .before-after__text {
    min-width: 436px;
    margin-bottom: 67px;
  }
}

.before-after__text span {
  white-space: nowrap;
}

.fieldset__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 33px;
}
@media (min-width: 768px) {
  .fieldset__wrapper {
    display: inline-flex;
    gap: 37px;
    padding-left: 11px;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .before-after__stat-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
  }
}
.before-after__result-box {
  width: 124px;
  height: 67px;
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  transform: rotate(180deg);
  padding-block: 5px;
}

.before-after__result-title {
  margin: 0;
  text-align: center;
  transform: rotate(180deg);
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
}

.before-after__result-text {
  padding-inline: 15px;
  text-transform: lowercase;
  transform: rotate(180deg);
  text-align: center;
  font-family: "Arial";
  font-size: 12px;
  line-height: 12px;
}

@media (min-width: 768px) {
  .before-after__result-text br {
    display: none;
    padding-inline: 0;
    font-size: 14px;
    line-height: 14px;
  }
}
.before-after__cost {
  margin-bottom: 42px;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .before-after__cost {
    display: inline-flex;
    max-width: 174px;
    margin-top: 10px;
    margin-left: 20px;
    text-align: right;
    font-size: 20px;
    line-height: 25px;
  }
}
@media (min-width: 1439px) {
  .before-after__cost {
    margin-left: 10px;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: 1439px) {
  .before-after__cost span {
    margin-left: 62px;
  }
}
.before-after__example {
  min-height: 321px;
}
@media (min-width: 1439px) {
  .before-after__example {
    flex: 1 0 auto;
  }
}

.before-after__image-box {
  position: relative;
  width: 311px;
  margin: 0 auto;
  height: 232px;
  margin-bottom: 17px;
}
@media (min-width: 768px) {
  .before-after__image-box {
    width: 100%;
    height: 600px;
  }
}

.before-after__before {
  width: 311px;
  height: 242px;
  z-index: 2;
}
@media (min-width: 1439px) {
  .before-after__before {
    left: 10px;
  }
}

.before-after__after {
  width: 251px;
  height: 240px;
  top: 0;
  left: 35px;
  z-index: 1;
}
@media (min-width: 768px) {
  .before-after__after {
    top: 0px;
    left: 25px;
  }
}
@media (min-width: 1439px) {
  .before-after__after {
    left: 40px;
  }
}

.before-after--image {
  position: absolute;
}
@media (max-width: 767px) {
  .before-after--image {
    margin-left: -20px;
    top: -10px;
    left: 0px;
  }
}
@media (min-width: 768px) {
  .before-after--image {
    width: 100%;
    height: 100%;
    -o-object-fit: none;
       object-fit: none;
  }
}
@media (min-width: 1439px) {
  .before-after--image {
    height: 85%;
  }
}

.range-controls__wrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-transform: uppercase;
  font-size: 16px;
}
@media (min-width: 768px) {
  .range-controls__wrapper {
    position: relative;
    top: -65px;
    margin-inline: 79px;
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1439px) {
  .range-controls__wrapper {
    top: -89px;
    margin-right: 7px;
    margin-left: 88px;
  }
}

@media (min-width: 768px) {
  .range-controls__wrapper p {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.24);
  }
}
.range-controls {
  position: relative;
  background-color: #F2F2F2;
  width: 84px;
  height: 14px;
  border: 1px solid #CDCDCD;
  border-radius: 6px;
  padding: 0 6px;
}
@media (min-width: 768px) {
  .range-controls {
    width: 100%;
    height: 6px;
    border: none;
  }
}

.range-controls .bar {
  margin-top: 3px;
  height: 6px;
  border-radius: 6px;
  background: #68B738;
}
@media (min-width: 768px) {
  .range-controls .bar {
    top: -15px;
    position: relative;
    width: 34px !important;
    height: 34px;
    margin: 0 auto;
    border: 1px solid #CDCDCD;
    border-radius: 50%;
    background: #FFFFFF;
  }
}

@media (min-width: 768px) {
  .range-controls .bar::before {
    content: "";
    top: 40%;
    left: 40%;
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #68B738;
  }
}
@media (min-width: 1439px) {
  .form-section--desktop__wrapper {
    display: flex;
    gap: 80px;
    margin-bottom: 70px;
  }
  .form-section--desktop__wrapper .form-section {
    flex-basis: 50%;
  }
  .form-section--desktop__wrapper .form-section--program {
    padding-left: 30px;
    border-left: 1px solid #D9D9D9;
  }
}
.program-select__title {
  margin-top: 19px;
  margin-bottom: 37px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}
@media (min-width: 768px) {
  .program-select__title {
    margin-top: 43px;
    margin-bottom: 52px;
    padding-left: 50px;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1439px) {
  .program-select__title {
    margin-top: 50px;
    margin-bottom: 59px;
  }
}

.program-select__text {
  margin-bottom: 39px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .program-select__text {
    margin-bottom: 69px;
    padding-left: 50px;
    line-height: 30px;
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .form {
    padding-left: 50px;
  }
}

.form-section {
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .form-section {
    margin-bottom: 80px;
  }
}
@media (min-width: 1439px) {
  .form-section {
    margin-bottom: 0;
  }
}

.form-section--program {
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
}
@media (min-width: 768px) {
  .form-section--program {
    border-right: 1px solid #D9D9D9;
  }
}

@media (min-width: 1439px) {
  .form-section--cat .form__item {
    margin-bottom: 26px;
  }
}

.form__item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 13px;
}
@media (min-width: 768px) {
  .form__item {
    width: 100%;
    margin-bottom: 26px;
  }
}
@media (min-width: 1439px) {
  .form__item {
    margin-bottom: 0;
  }
}

.form__item:last-child {
  margin-bottom: 0;
}

.form-section--additionally .form__item:first-of-type {
  margin-top: 3px;
}

.form-section--additionally .form__item {
  margin-bottom: 12px;
  padding-left: 7px;
}
@media (min-width: 768px) {
  .form-section--additionally .form__item {
    margin: 0;
  }
}

.form-section--additionally .form__item:last-of-type {
  margin-bottom: 31px;
}
@media (min-width: 768px) {
  .form-section--additionally .form__item:last-of-type {
    margin: 0;
  }
}
@media (min-width: 1439px) {
  .form-section--additionally .form__item:last-of-type {
    flex: 1 1 auto;
  }
}

.radio__wrapper .form__item {
  margin-bottom: 12px;
}

.program-select__need {
  text-align: center;
  margin-bottom: 7px;
  font-family: "Arial";
  font-size: 14px;
  line-height: 16px;
}
@media (min-width: 768px) {
  .program-select__need {
    width: 50%;
    margin-top: 32px;
    font-family: "Arial";
    font-size: 16px;
    line-height: 16px;
  }
}
@media (min-width: 1439px) {
  .program-select__need {
    width: auto;
  }
}

.form__label {
  flex-shrink: 0;
  margin-right: 10px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .form__label {
    margin-right: 21px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form__input {
  width: 100%;
  padding: 13px 0 15px 14px;
  border: 1px solid #E7E7E7;
}
.form__input::-moz-placeholder {
  text-transform: uppercase;
  color: #444444;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 18px;
}
.form__input::placeholder {
  text-transform: uppercase;
  color: #444444;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .form__input::-moz-placeholder {
    font-size: 20px;
    line-height: 30px;
  }
  .form__input::placeholder {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__input--email,
.form__input--phone {
  min-width: 20px;
  position: absolute;
  right: 20px;
}

@media (min-width: 768px) {
  .form-section--owner {
    margin-bottom: 69px;
  }
}
@media (min-width: 1439px) {
  .form-section--owner {
    display: flex;
    gap: 78px;
  }
}

@media (min-width: 1439px) {
  .form-section--owner .form__item {
    flex-grow: 1;
  }
}

@media (min-width: 768px) {
  .form-section--additionally {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 42px;
  }
}
@media (min-width: 768px) {
  .form-section--additionally .form__item {
    width: 50%;
  }
}
@media (min-width: 1439px) {
  .form-section--additionally .form__item {
    width: 100px;
    margin-right: 20px;
  }
}

@media (min-width: 1439px) {
  .form-section--additionally {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 187px;
  }
  .form__item {
    flex-basis: 25%;
  }
}
.form-section--program {
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .form-section--program {
    padding-bottom: 12px;
  }
}

.radio__wrapper {
  padding-top: 20px;
}
@media (min-width: 1439px) {
  .radio__wrapper {
    margin-left: -31px;
  }
}

.form__radio {
  margin-top: 5px;
  margin-left: 40px;
  padding-bottom: 6px;
}
@media (min-width: 768px) {
  .form__radio {
    padding-left: 50px;
  }
}

.form__item:last-child .form__radio {
  padding: 0;
}
@media (min-width: 768px) {
  .form__item:last-child .form__radio {
    padding-left: 50px;
  }
}

.form__input + .form__radio::before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  border: 1px solid #CDCDCD;
  border-radius: 50%;
  top: 0;
  left: 0;
}
@media (min-width: 768px) {
  .form__input + .form__radio::before {
    width: 40px;
    height: 40px;
    left: 30px;
  }
}

.form__input:checked + .form__radio:after {
  content: "";
  width: 14px;
  height: 14px;
  position: absolute;
  background-color: #68B738;
  border-radius: 50%;
  top: 8px;
  left: 8px;
}
@media (min-width: 768px) {
  .form__input:checked + .form__radio:after {
    width: 18px;
    height: 18px;
    top: 11px;
    left: 40px;
  }
}

.form__input:focus + .form__radio::before {
  outline: 2px solid #68B738;
}

.form__legend {
  width: 100%;
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 26px;
  background-image: linear-gradient(to bottom, transparent 0, transparent 16px, #68b738 16px, #68b738 18px, transparent 18px, transparent 100%);
}
@media (min-width: 768px) {
  .form__legend {
    margin-bottom: 79px;
    font-size: 36px;
    line-height: 36px;
  }
}

.form-section--additionally .form__legend {
  margin-bottom: 59px;
}
@media (max-width: 767px) {
  .form-section--additionally .form__legend {
    margin-bottom: 34px;
  }
}

.form__legend span {
  display: inline-block;
  padding-right: 14px;
  background-color: #FFFFFF;
}

@media (min-width: 768px) {
  .form__legend--title br {
    display: none;
  }
}
.form-section--comment {
  width: 100%;
  margin-bottom: 19px;
}
@media (min-width: 768px) {
  .form-section--comment {
    margin-bottom: 78px;
  }
}

.form-section--comment > textarea {
  width: 100%;
  resize: none;
  border: 1px solid #E7E7E7;
}

.form-section--comment textarea::-moz-placeholder {
  padding-top: 10px;
  padding-left: 10px;
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 18px;
}

.form-section--comment textarea::placeholder {
  padding-top: 10px;
  padding-left: 10px;
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .form-section--comment textarea::-moz-placeholder {
    font-size: 20px;
    line-height: 30px;
  }
  .form-section--comment textarea::placeholder {
    font-size: 20px;
    line-height: 30px;
  }
}

.additionally {
  width: auto;
  height: 30px;
  margin-left: 40px;
}
@media (min-width: 768px) {
  .additionally {
    padding-left: 13px;
  }
}

.form__input + .additionally::before {
  content: "";
  top: -8px;
  left: 0;
  width: 30px;
  height: 30px;
  position: absolute;
  border: 1px solid #E7E7E7;
}
@media (min-width: 768px) {
  .form__input + .additionally::before {
    top: -5px;
    width: 40px;
    height: 40px;
  }
}

.form__input:checked + .additionally::after {
  content: "";
  top: 0;
  left: 7px;
  width: 30px;
  height: 30px;
  position: absolute;
  background-image: url(../img/icon/check.svg);
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .form__input:checked + .additionally::after {
    top: 6px;
    left: 11px;
  }
}

.form__input:focus + .additionally::before {
  outline: 2px solid #222222;
}

@media (min-width: 768px) {
  .products {
    margin-bottom: 66px;
  }
}
@media (min-width: 1439px) {
  .products {
    margin-bottom: 78px;
  }
}

@media (max-width: 767px) {
  .product {
    margin-bottom: 47px;
  }
}

.products-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}
@media (max-width: 767px) {
  .products-title {
    width: 100vh;
    margin-top: 0;
    margin-left: -20px;
    padding-left: 20px;
    padding-top: 19px;
    padding-bottom: 40px;
    border-bottom: 1px solid #D9D9D9;
  }
}
@media (min-width: 768px) {
  .products-title {
    padding-top: 2px;
    margin-left: 9px;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1439px) {
  .products-title {
    margin-top: 50px;
  }
}

.product__feature--item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .product__feature--item {
    margin-bottom: 19px;
    border-bottom: 1px solid #CDCDCD;
  }
}
@media (min-width: 1439px) {
  .product__feature--item {
    margin-bottom: 15px;
    font-family: "Arial";
    font-size: 16px;
    line-height: 16px;
  }
}

.products__list {
  position: relative;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .products__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 63px;
    justify-content: space-between;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .product:not(:last-child):before {
    content: "";
    position: absolute;
    top: 120px;
    width: 100%;
    height: 430px;
    background-color: #F2F2F2;
    z-index: -1;
  }
}
@media (min-width: 768px) and (min-width: 1439px) {
  .product:not(:last-child):before {
    width: 245px;
    top: 120px;
  }
}
.products__item {
  position: relative;
  min-width: 280px;
  display: grid;
  grid-template-columns: 50% 1fr 1fr;
  grid-template-rows: 1fr 1fr 40px;
  justify-content: center;
  border-bottom: 1px solid #EBEBEB;
}
.products__item:last-child {
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #EBEBEB;
  text-align: center;
  padding: 0;
  padding-bottom: 25px;
}
@media (max-width: 767px) {
  .products__item:last-child {
    border: none;
  }
}
@media (min-width: 768px) {
  .products__item:last-child {
    justify-content: flex-start;
  }
}
.products__item:last-child .product__title {
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .products__item:last-child .product__title {
    font-size: 20px;
    line-height: 22px;
  }
}
.products__item:last-child .product__text {
  margin-bottom: 21px;
  font-family: "Arial";
  font-size: 12px;
  line-height: 16px;
}
@media (min-width: 768px) {
  .products__item:last-child .product__text {
    max-width: 200px;
    margin: 0 auto;
    margin-bottom: 100px;
    font-size: 16px;
    line-height: 18px;
  }
}
@media (max-width: 767px) {
  .products__item {
    height: 162px;
  }
}
@media (min-width: 768px) {
  .products__item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 324px;
    height: 509px;
    margin-inline: 10px;
  }
}
@media (min-width: 1439px) {
  .products__item {
    justify-content: flex-end;
    width: 245px;
    min-width: 245px;
    height: 431px;
    min-height: 515px;
  }
}

.products__item--view-all {
  height: 180px;
}
@media (max-width: 767px) {
  .products__item--view-all {
    margin-bottom: 29px;
  }
}
@media (min-width: 768px) {
  .products__item--view-all {
    margin-top: 120px;
    height: 429px;
  }
}

.product__icon {
  padding-top: 25px;
}
@media (max-width: 767px) {
  .product__icon {
    padding-top: 0;
    flex: 1 0 auto;
  }
}
@media (min-width: 768px) {
  .product__icon {
    margin-top: 30px;
    margin-bottom: 40px;
  }
}

.product__img {
  grid-column: 1/2;
  grid-row: 1/3;
  margin: auto;
}
@media (max-width: 767px) {
  .product__img {
    width: 78px;
    height: 86px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media (min-width: 768px) {
  .product__img {
    flex: 1 0;
    margin-top: 45px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

@media (max-width: 767px) {
  .products__img--1kg {
    width: 80px;
    height: 98px;
  }
}

.product__description {
  grid-column: 2/4;
  grid-row: 1/3;
  width: 100%;
}
@media (min-width: 1439px) {
  .product__description {
    margin-bottom: 10px;
  }
}

.product__title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
@media (max-width: 767px) {
  .product__title {
    margin-bottom: 14px;
    margin-top: -4px;
  }
}
@media (min-width: 768px) {
  .product__title {
    max-width: 150px;
    margin: 25px auto;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
  }
}
@media (min-width: 1439px) {
  .product__title {
    margin-bottom: 21.5px;
    font-size: 20px;
    line-height: 21px;
  }
}

@media (min-width: 768px) {
  .product__title br {
    display: none;
  }
}
.product__feature {
  font-family: "Arial";
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 33px;
}
@media (min-width: 768px) {
  .product__feature {
    padding-inline: 35px;
    font-size: 16px;
    line-height: 16px;
  }
}

.product__feature-title,
.product__feature-text {
  display: inline-block;
}

.product__feature-text {
  margin: 0;
}

@media (min-width: 1439px) {
  .add-products__wrapper {
    width: 896px;
  }
}
@media (min-width: 1439px) and (min-width: 1439px) {
  .add-products__wrapper {
    width: 904px;
  }
}
@media (min-width: 1439px) {
  .gift {
    position: relative;
    top: -300px;
    left: 1000px;
    margin-bottom: -100px;
    width: 245px;
    height: 289px;
  }
}
@media (min-width: 1439px) and (min-width: 1439px) {
  .gift {
    left: 987px;
  }
}
.add-products {
  min-width: 280px;
}
@media (max-width: 767px) {
  .add-products {
    margin-bottom: 44px;
  }
}

.add-products__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  background-image: linear-gradient(to bottom, transparent 0, transparent 16px, #68b738 16px, #68b738 18px, transparent 18px, transparent 100%);
}
@media (min-width: 768px) {
  .add-products__title {
    margin-left: 45px;
    margin-bottom: 85px;
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1439px) {
  .add-products__title {
    margin-left: 10px;
  }
}

.add-products__title > span {
  display: inline-block;
  padding-right: 22px;
  background-color: #FFFFFF;
}

.add-products__list {
  padding: 0;
  list-style: none;
}
@media (max-width: 767px) {
  .add-products__list {
    margin-top: 32px;
  }
}
@media (min-width: 768px) {
  .add-products__list {
    margin-bottom: 80px;
    padding-inline: 50px;
  }
}
@media (min-width: 1439px) {
  .add-products__list {
    margin: 0;
    padding-inline: 10px 0;
  }
}

.add-products__item {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .add-products__item {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (min-width: 1439px) {
  .add-products__item {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 41px;
  }
}

.add__feature {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .add__feature {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 1439px) {
  .add__feature {
    flex-basis: 285px;
    justify-content: space-between;
  }
}

.add {
  padding-bottom: 14px;
  border-bottom: 1px solid #CDCDCD;
}
@media (min-width: 768px) {
  .add {
    gap: 15px;
    align-items: center;
    margin-bottom: 13px;
  }
}
@media (min-width: 1439px) {
  .add {
    padding-top: 9px;
  }
}

.add__title {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
}
@media (min-width: 768px) {
  .add__title {
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1439px) {
  .add__title {
    margin: 0px;
    flex-grow: 1;
  }
}

.add__feature {
  font-family: "Arial";
  font-size: 14px;
  line-height: 14px;
}
@media (max-width: 767px) {
  .add__feature {
    margin-bottom: 15px;
  }
}
@media (min-width: 768px) {
  .add__feature {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 1439px) {
  .add__feature {
    margin: 0;
  }
}

.add-product__feature-text {
  margin-left: 55px;
}

.gift__wrapper {
  display: flex;
  flex-direction: column;
  min-width: 280px;
  height: 289px;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url(../img/bg/cat-bag.jpg);
  background-size: 280px 289px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 35px;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .gift__wrapper {
    height: 200px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-inline: 10px;
    margin-bottom: 90px;
  }
}
@media (min-width: 1439px) {
  .gift__wrapper {
    min-width: 242px;
  }
}

.gift__img {
  padding-top: 58px;
  padding-bottom: 30px;
  text-align: center;
}

.gift__text {
  text-align: center;
  font-family: "Arial";
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.footer {
  margin: 0 -20px;
}
@media (min-width: 1439px) {
  .footer {
    margin-top: -115px;
  }
}

.footer-top__wrapper {
  position: relative;
  min-width: 320px;
}

.footer-top__contacts {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  min-width: 320px;
  padding-top: 12px;
  padding-inline: 19px;
  padding-bottom: 15px;
}
@media (min-width: 768px) {
  .footer-top__contacts {
    padding-top: 31px;
    padding-inline: 72px;
    margin-bottom: 28px;
  }
}
@media (min-width: 1439px) {
  .footer-top__contacts {
    position: absolute;
    top: 95px;
    width: 570px;
    height: 201px;
    margin-left: 110px;
    padding: 66px 69.5px 51px 78px;
    background-color: #FFFFFF;
  }
}

.footer-top__contacts--grey {
  margin-left: -20px;
  padding: 26px 20px;
  min-width: 320px;
  background-color: #F2F2F2;
}

.footer-top__contacts-slogan {
  min-width: 140px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .footer-top__contacts-slogan {
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
  }
}
@media (min-width: 1439px) {
  .footer-top__contacts-slogan {
    flex: 1 1 auto;
    margin: 0;
    padding-top: 3px;
  }
}

.footer-top__contacts-address {
  font-family: "Arial";
  font-size: 14px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .footer-top__contacts-address {
    max-width: 159px;
    text-align: end;
    font-family: "Arial";
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 1439px) {
  .footer-top__contacts-address {
    max-width: 200px;
    flex: 1 1 auto;
    margin: 0;
    padding-left: 25px;
    text-align: left;
  }
}

@media (min-width: 768px) {
  .footer-top__contacts-address span {
    display: inline-block;
    margin-top: 20px;
  }
}

@media (min-width: 768px) {
  .footer-top__map iframe {
    height: 400px;
  }
}
.footer-bottom {
  min-width: 320px;
  padding-top: 40px;
  background-color: #F2F2F2;
}
@media (min-width: 768px) {
  .footer-bottom {
    height: 150px;
    padding: 0 30px;
  }
}
@media (min-width: 1439px) {
  .footer-bottom {
    padding-inline: 110px;
  }
}

.footer-bottom__wrapper {
  text-align: center;
}
@media (min-width: 768px) {
  .footer-bottom__wrapper {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    text-align: left;
  }
}

.footer-bottom__item {
  width: 100%;
  border-bottom: 1px solid #D9D9D9;
}
.footer-bottom__item:last-child {
  border-bottom: none;
}
@media (min-width: 768px) {
  .footer-bottom__item {
    border-bottom: none;
  }
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}
@media (min-width: 768px) {
  .social__list {
    gap: 21px;
  }
}

.social__item {
  width: 23px;
  height: 23px;
}

.logo {
  margin-top: -4px;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .logo {
    padding: 0;
  }
}
@media (min-width: 1439px) {
  .logo {
    padding-top: 5px;
  }
}

.footer-bottom__copyright {
  text-align: left;
  padding: 20px;
  font-family: "Arial";
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .footer-bottom__copyright {
    padding: 0;
    margin-top: -18px;
  }
}
@media (min-width: 1439px) {
  .footer-bottom__copyright {
    padding-top: 22px;
  }
}

.copyright__link {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .copyright__link {
    justify-content: flex-end;
    gap: 22px;
  }
}
/*# sourceMappingURL=style.css.map */
