@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Oswald:400,500&display=swap);
@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
}
img {
  max-width: 100%;
  height: auto;
}

a {
  color: #000000;
  text-decoration: none;
}

a:visited {
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

label {
  cursor: pointer;
}

input:focus {
  border: 2 px solid #444444;
}

.button {
  padding: 7px 44px;
  cursor: pointer;
  border: 0;
  background-color: #68B738;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

a.button--intro {
  display: block;
  width: 100%;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  a.button--intro {
    position: relative;
    top: -600px;
    left: 0;
    width: 244px;
    height: 54px;
    margin-left: 112px;
    padding: 14px;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  a.button--intro {
    top: -500px;
  }
}

.main-nav__toogle {
  background: transparent;
  border: 0;
  cursor: pointer;
}

.form__button {
  width: 100%;
  color: #FFFFFF;
}

.program-select__need {
  text-align: center;
  margin-bottom: 32px;
}

a.button--product {
  width: 280px;
  padding-top: 10px;
  grid-column: 1/-1;
  grid-row: 3/4;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}

a.button--view-all {
  background-color: #F2F2F2;
  width: 280px;
  padding-top: 10px;
  font-size: 16px;
  color: #444444;
}

.page {
  height: 100%;
  font-family: Oswald;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
}

.page__body {
  display: flex;
  flex-direction: column;
  max-width: 767px;
  min-height: 100%;
  margin: 0 auto;
  color: #000000;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .page__body {
    min-width: 768px;
    max-width: 1440px;
    outline: 5px solid rgba(31, 12, 112, 0.589);
    outline-offset: -5px;
  }
}
@media (min-width: 1440px) {
  .page__body {
    width: 1440px;
    outline: 5px solid rgba(247, 9, 9, 0.589);
    outline-offset: -5px;
  }
}

@media (min-width: 768px) {
  .page-header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 52px -webkit-max-content;
    grid-template-rows: 52px max-content;
  }
}
.logo__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 22px;
}
@media (max-width: 767px) {
  .page-header__logo--tablet,
.page-header__logo--desktop {
    display: none;
  }
}
@media (min-width: 768px) {
  .page-header__logo,
.page-header__logo--desktop {
    display: none;
  }
}
@media (min-width: 1440px) {
  .page-header__logo,
.page-header__logo--tablet {
    display: none;
  }
  .page-header__logo--desktop {
    display: inline-flex;
  }
}
@media (min-width: 768px) {
  .main-nav__toogle {
    display: none;
  }
}
.current {
  border-bottom: 2px solid #68B738;
}
@media (min-width: 1440px) {
  .current {
    border-bottom: 2px solid #FFFFFF;
  }
}

@media (min-width: 768px) {
  .main-nav {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-left: auto;
  }
}
.main-nav__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  margin: 0;
  padding: 0;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  list-style: none;
}
@media (min-width: 768px) {
  .main-nav__list {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .site-list {
    font-size: 18px;
    line-height: 24px;
  }
}
.site-list__item {
  width: 320px;
  padding: 22px 0;
  border-bottom: 1px solid #E6E6E6;
  font-weight: 500;
}
@media (min-width: 768px) {
  .site-list__item {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    border-bottom: 0;
    margin-right: 35px;
    align-content: flex-end;
  }
}
@media (min-width: 1440px) {
  .site-list__item {
    color: white;
  }
}

@media (min-width: 768px) {
  .site-list__item:last-child {
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .site-list__item:first-child {
    border-top: 1px solid #E6E6E6;
  }
}
@media (min-width: 1440px) {
  .site-list__item a {
    color: #FFFFFF;
  }
}

.main-intro {
  text-align: center;
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .main-intro {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

.main-intro .main-intro--bg {
  position: relative;
  min-width: 320px;
  margin-left: -20px;
}
@media (min-width: 768px) {
  .main-intro .main-intro--bg {
    background-image: none;
    margin-left: 0;
  }
}

.main-intro__picture {
  position: absolute;
  width: 320px;
  height: 320px;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url(../img/bg/cat.jpg);
  background-size: 320px 302px;
  background-repeat: no-repeat;
  background-attachment: local;
}
@media (min-width: 768px) {
  .main-intro__picture {
    display: none;
  }
}
@media (min-width: 1440px) {
  .main-intro__picture {
    position: absolute;
    top: -50px;
    right: 0;
    transform: translate(0, 0);
    display: block;
    width: 50%;
    height: 696px;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url(../img/cat-desktop.jpg);
    background-size: cover;
    z-index: -1;
  }
}

.main-intro__title {
  position: relative;
  color: #FFFFFF;
  padding-top: 27px;
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}
@media (min-width: 768px) {
  .main-intro__title {
    font-size: 60px;
    line-height: 60px;
  }
}

.main-intro__text {
  position: relative;
  color: #FFFFFF;
  margin-bottom: 29px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .main-intro__title,
.main-intro__text {
    display: block;
    margin-left: 117px;
    min-width: 414px;
    text-align: left;
    color: #000000;
  }
}
.main-intro__picture-chiken-pro {
  position: relative;
  width: 280px;
  height: 270px;
  background-image: url("../../img/chiken-pro.png");
  background-size: 280px 270px;
  background-repeat: no-repeat;
  margin-inline: auto;
}
@media (min-width: 768px) {
  .main-intro__picture-chiken-pro {
    display: block;
    width: 100%;
    height: 609px;
    background-image: url("../../img/chiken-pro.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
  }
}
@media (min-width: 1440px) {
  .main-intro__picture-chiken-pro {
    max-width: 100%;
    height: 499px;
    top: -100px;
    background-size: 552px 499px;
    background-position: 65% 50%;
  }
}

.catalog {
  position: relative;
  padding: 0 20px 18px 20px;
  background-color: #F2F2F2;
}

@media (min-width: 1440px) {
  .catalog-selection__wrapper {
    display: flex;
    gap: 80px;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
}
.catalog__title {
  padding-top: 30px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
}
.catalog__title::before {
  content: "";
  display: inline-block;
  width: 70px;
  height: 53px;
}
@media (min-width: 768px) {
  .catalog__title::before {
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 768px) and (max-width: 1440px) {
  .catalog__title::before {
    position: absolute;
    top: 20px;
    right: 50px;
    width: 270px;
    height: 200px;
  }
}

.catalog__title--slim::before {
  background: url(../img/icon/cat_back--slim.svg) 0 0/contain no-repeat;
}

.catalog__title--pro::before {
  left: 50%;
  background: url(../img/icon/cat_back--pro.svg) 0 0/cover no-repeat;
}

.catalog__text {
  position: relative;
  padding-bottom: 23px;
  margin-bottom: 15px;
  border-bottom: 1px solid #D9D9D9;
  font-family: "Arial";
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .catalog__text {
    position: relative;
    max-width: 45%;
    display: inline-block;
    border-bottom: 0;
  }
}

.catalog__link {
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
}
.catalog__link::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 10px;
  margin-left: 15px;
  margin-bottom: 4px;
  background: url(../img/icon/arrow__right.svg) no-repeat;
}

.how-it-works {
  padding-bottom: 4px;
}

.how-it-works__title {
  margin-bottom: 38px;
}
@media (min-width: 768px) {
  .how-it-works__title {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
  }
}

.how-it-works__list {
  position: relative;
  list-style: none;
  counter-reset: point; /* задаем переменную для счетчика */
  padding: 0;
}
@media (min-width: 768px) {
  .how-it-works__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 37px;
  }
}

.how-it-works__item {
  position: relative;
  min-height: 60px;
  margin-bottom: 20px;
  font-family: "Arial";
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .how-it-works__item {
    width: 230px;
    height: 280px;
  }
}

@media (min-width: 768px) {
  .how-it-works__item:nth-child(even) {
    margin-right: 79px;
  }
}
@media (min-width: 1440px) {
  .how-it-works__item:last-child {
    margin-right: 0;
  }
}
.how-it-works__item::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
}

@media (min-width: 768px) {
  .how-it-works__list li::after {
    content: counter(point); /* выводим значение переменной */
    counter-increment: point 1; /* увеличваем счетчик на 1 */
    position: absolute;
    top: -40px;
    right: 0;
    z-index: -1;
    font-family: "Oswald";
    font-weight: 400;
    font-size: 280px;
    line-height: 280px;
    color: #F2F2F2;
  }
}
.how-it-works__item-description {
  padding-left: 80px;
}
@media (min-width: 768px) {
  .how-it-works__item-description {
    padding: 0;
    margin-top: 100px;
  }
}

.how-it-works__item--useful::before {
  background: url("../img/icon/how-it-works-useful.png");
}

.how-it-works__item--form::before {
  background: url("../img/icon/how-it-works-form.png");
}

.how-it-works__item--change::before {
  background: url("../img/icon/how-it-works-change.png");
}

.how-it-works__item--result::before {
  background: url("../img/icon/how-it-works-result.png");
}

.before-after {
  min-width: 320px;
  margin-inline: -20px;
  background-color: #EAEAEA;
}

@media (min-width: 768px) {
  .before-after__wrapper {
    width: 100%;
    background-color: #FFFFFF;
  }
}

.before-after__title {
  padding-top: 27px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}
@media (min-width: 768px) {
  .before-after__title {
    padding-left: 20px;
    padding-block: 40px;
  }
}

.fieldset__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .fieldset__wrapper {
    display: inline-flex;
    gap: 42px;
    padding-left: 20px;
  }
}

.before-after__text {
  margin-bottom: 25px;
  font-family: "Arial";
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .before-after__text {
    padding-left: 20px;
  }
}

.before-after__result-box {
  width: 124px;
  border: 1px solid #CDCDCD;
  transform: rotate(180deg);
}

.before-after__result-title {
  margin: 0;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  text-align: center;
  transform: rotate(180deg);
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
}

.before-after__result-text {
  display: inline-block;
  padding: 0 10px;
  text-transform: lowercase;
  transform: rotate(180deg);
  text-align: center;
  font-family: "Arial";
  font-size: 12px;
  line-height: 12px;
}

.before-after__cost {
  margin-bottom: 42px;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .before-after__cost {
    display: inline-flex;
    width: 174px;
    text-align: right;
    font-size: 20px;
    line-height: 20px;
  }
}

.before-after__image-box {
  position: relative;
  margin: 0 auto;
  width: 311px;
  height: 300px;
}

.before-after__before {
  width: 311px;
  height: 232px;
}

.before-after--image {
  position: absolute;
}

.range-controls__wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  text-transform: uppercase;
  font-size: 16px;
}

.range-controls {
  position: relative;
  background-color: #F2F2F2;
  width: 84px;
  height: 14px;
  border: 1px solid #CDCDCD;
  border-radius: 6px;
  padding: 0 6px;
}

.range-controls .bar {
  margin-top: 3px;
  height: 6px;
  border-radius: 6px;
  background: #68B738;
}

.program-select__title {
  margin-bottom: 37px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.program-select__text {
  margin-bottom: 39px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

.form-section {
  margin-bottom: 26px;
}

.form-section--program {
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
}

.form__item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 13px;
}

.form__item:last-child {
  margin-bottom: 0;
}

.form__label {
  flex-shrink: 0;
  margin-right: 15px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
}

.form__input {
  padding: 13px 0 15px 14px;
  border: 1px solid #E7E7E7;
}
.form__input::-moz-placeholder {
  text-transform: uppercase;
  color: #444444;
}
.form__input::placeholder {
  text-transform: uppercase;
  color: #444444;
}

.form-section--program {
  padding-bottom: 19px;
}

.radio__wrapper {
  padding-top: 20px;
}

.form__radio {
  margin-left: 40px;
  padding-bottom: 13px;
}

.form__item:last-child .form__radio {
  padding: 0;
}

.form__input + .form__radio::before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  border: 1px solid #CDCDCD;
  border-radius: 50%;
  top: -5px;
  left: 0;
}

.form__input:checked + .form__radio:after {
  content: "";
  width: 14px;
  height: 14px;
  position: absolute;
  background-color: #68B738;
  border-radius: 50%;
  top: 10%;
  left: 8px;
}

.form__input:focus + .form__radio::before {
  outline: 2px solid #222222;
}

.form__legend {
  width: 100%;
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 26px;
  background-image: linear-gradient(to bottom, transparent 0, transparent 16px, #68b738 16px, #68b738 18px, transparent 18px, transparent 100%);
}

.form__legend span {
  display: inline-block;
  padding-right: 14px;
  background-color: #FFFFFF;
}

.form-section--comment {
  width: 100%;
  margin-bottom: 22px;
}

.form-section--comment > textarea {
  resize: none;
  border: 1px solid #E7E7E7;
}

.form-section--comment > textarea::-moz-placeholder {
  padding-top: 9px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 18px;
}

.form-section--comment > textarea::placeholder {
  padding-top: 9px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 18px;
}

.additionally {
  width: auto;
  height: 30px;
  margin-left: 40px;
}

.form__input + .additionally::before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  border: 1px solid #E7E7E7;
  top: -8px;
  left: 0;
}

.form__input:checked + .additionally::after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  background-image: url(../img/icon/check.svg);
  background-repeat: no-repeat;
  top: 0;
  left: 7px;
}

.form__input:focus + .additionally::before {
  outline: 2px solid #222222;
}

.products-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.product__feature--item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product {
  padding: 11px;
}

.products__list {
  padding: 0;
  list-style: none;
}

.products__item {
  display: grid;
  grid-template-columns: 50% 1fr 1fr;
  grid-template-rows: 1fr 1fr 40px;
  justify-content: center;
  border-bottom: 1px solid #EBEBEB;
}
.products__item:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #EBEBEB;
  text-align: center;
  padding: 0;
  padding-bottom: 25px;
}
.products__item:last-child .product__title {
  font-size: 16px;
  line-height: 20px;
}
.products__item:last-child .product__text {
  margin-bottom: 21px;
  font-family: "Arial";
  font-size: 12px;
  line-height: 16px;
}

.product__icon {
  padding-top: 25px;
}

.product__img {
  grid-column: 1/2;
  grid-row: 1/3;
  width: 68px;
  height: 86px;
  margin: auto;
}

.product__description {
  grid-column: 2/4;
  grid-row: 1/3;
}

.product__title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.product__feature {
  font-family: "Arial";
  font-size: 12px;
  line-height: 16px;
}

.product__feature-title,
.product__feature-text {
  display: inline-block;
}

.product__feature-text {
  margin: 0;
}

.add-products__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  background-image: linear-gradient(to bottom, transparent 0, transparent 16px, #68b738 16px, #68b738 18px, transparent 18px, transparent 100%);
}

.add-products__title > span {
  display: inline-block;
  padding-right: 22px;
  background-color: #FFFFFF;
}

.add-products__list {
  padding: 0;
  list-style: none;
}

.add-products__item {
  display: flex;
  flex-direction: column;
}

.add__feature {
  display: flex;
  justify-content: space-between;
}

.add {
  padding-bottom: 19px;
  border-bottom: 1px solid #CDCDCD;
}

.add__title {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
}

.add__feature {
  font-family: "Arial";
  font-size: 14px;
  line-height: 14px;
}

.gift__wrapper {
  display: flex;
  flex-direction: column;
  min-width: 280px;
  height: 289px;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url(../img/bg/cat-bag.jpg);
  background-size: 280px 289px;
  background-repeat: no-repeat;
  margin-bottom: 35px;
}

.gift__img {
  padding: 48px 0;
  text-align: center;
}

.gift__text {
  text-align: center;
  font-family: "Arial";
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.footer {
  margin-top: auto;
}

.footer-top__wrapper {
  position: relative;
}

.footer-top__contacts {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  padding-top: 28px;
  padding-bottom: 26px;
}
@media (min-width: 1440px) {
  .footer-top__contacts {
    position: absolute;
    top: 50px;
    width: 570px;
    background-color: #FFFFFF;
    padding: 66px 99.5px 51px 76px;
    box-sizing: border-box;
  }
}

.footer-top__contacts--grey {
  margin-left: -20px;
  padding: 26px 20px;
  width: 320px;
  background-color: #F2F2F2;
}

.footer-top__contacts-slogan {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  width: 171px;
}

.footer-top__contacts-address {
  font-family: "Arial";
  font-size: 14px;
  line-height: 20px;
  width: 159px;
}

.footer-top__map {
  margin-left: -20px;
}

.footer-bottom {
  min-width: 320px;
  margin-left: -20px;
  padding-top: 40px;
  background-color: #F2F2F2;
  margin-inline: -20px;
}
@media (min-width: 768px) {
  .footer-bottom {
    padding: 0;
  }
}

.footer-bottom__wrapper {
  text-align: center;
}
@media (min-width: 768px) {
  .footer-bottom__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    text-align: left;
  }
}

.footer-bottom__item {
  width: 100%;
  border-bottom: 1px solid #D9D9D9;
}
.footer-bottom__item:last-child {
  border-bottom: 0;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}
@media (min-width: 768px) {
  .social__list {
    gap: 21px;
  }
}

.social__item {
  width: 23px;
  height: 23px;
}

.logo {
  padding-bottom: 32px;
}
@media (min-width: 768px) {
  .logo {
    padding: 0;
  }
}

.footer-bottom__copyright {
  padding: 32px 0;
}

.footer-bottom__copyright {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.copyright__link {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .copyright__link {
    justify-content: flex-end;
    gap: 22px;
  }
}
/*# sourceMappingURL=style.css.map */
