.button {
  padding: 7px 44px;
  cursor: pointer;
  border: 0;
  background-color: $basic_green;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

a.button--intro {
  display: block;
  width: 100%;
  color: $basic_white;

  @media (min-width: $tablet-width) {
    position: relative;
    top: -600px;
    left: 0;
    width: 244px;
    height: 54px;
    margin-left: 112px;
    padding: 14px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    top: -500px;
  }

}

.main-nav__toogle {
  background: transparent;
  border: 0;
  cursor: pointer;
}

.form__button {
  width: 100%;
  color: $basic_white;
}

.program-select__need {
  text-align: center;
  margin-bottom: 32px;
}

a.button--product {
  width: 280px;
  padding-top: 10px;
  grid-column: 1 / -1;
  grid-row: 3/ 4;
  color: $basic_white;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}

a.button--view-all {
  background-color: $basic_grey ;
  width: 280px;
  padding-top: 10px;
  font-size: 16px;
  color: $special_dark-grey;
}
