//viewports
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;

//global
@import 'color';
@import 'fonts';
@import 'global';
@import 'button';

//blocks
@import 'blocks/page';
@import 'blocks/header';
@import 'blocks/main-intro';
@import 'blocks/catalog';
@import 'blocks/how-it-works';
@import 'blocks/before-after';
@import 'blocks/program-select';
@import 'blocks/products';
@import 'blocks/add-products';
@import 'blocks/footer';
